@font-face {
  font-family: 'Black';
  src: url('../fonts/woff/mono-black.woff') format('woff'),
       url('../fonts/otf/mono-black.otf')  format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Mono';
  src: url('../fonts/woff/mono-regular.woff') format('woff'),
       url('../fonts/otf/mono-regular.otf')  format('opentype')
}
@font-face {
  font-family: 'Sans';
  src: url('../fonts/woff/sans-black.woff') format('woff'),
       url('../fonts/otf/sans-black.otf')  format('opentype')
}