<!-- container begins -->
<div id="container" ng-class="{ 'staircase': enlarge }" style="background: {{ colour }}">
	<section 
		ng-repeat="frame in frames" 
		ng-class="render( $index )"
		style="background: {{ frame.colors.bg }}; border: solid 1rem {{ frame.colors.text }}; color: {{ frame.colors.text }};">
		<div 
			id="number" 
			ng-class="digits( $index )" 
			style="background: {{ frame.colors.bg }};">
			{{ $index + 1 }}
		</div>
		<h1>{{ frame.title }}</h1>
		<div
			id="copy"
			ng-bind-html="frame.body | to_trusted"
			ng-class="layout( frame.img.length )">
			{{ frame.body }}
		</div>
		<img ng-if="frame.img.length > 0" src='{{ frame.img }}' />
		<a
			ng-repeat="button in frame.buttons"
			ng-click="adventure( button.linkindex )"
			ng-class="choices( frame.buttons.length, $index )"
			ng-value="{{ frame.buttons.length }}"
			style="background: {{ frame.colors.bg }}; ">
				{{ button.text }}
		</a>
	</section>
</div>
<!-- container ends -->